<p id="notice"><%= notice %></p>

<h1>All Purchases</h1>

<table class="table tablehover">
  <thead class="thead-light">
    <tr>
      <th>Purchase Number</th>
      <th>Client</th>
      <th>Date of Purchase</th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Purchase Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.purchaseno %></td>
        <td><%= purchase.client.name %></td>
        <td><%= purchase.dateofpurchase %></td>
        <td><%= purchase.item.name %></td>
        <td><%= purchase.quantity %></td>
        <td><strong><h4><%= number_to_currency(purchase.purchasevalue, :unit => "ZMK") %></h4></strong></td>
        <td><%= link_to 'Show', purchase, class: "btn btn-warning" %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase), class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path, class: "btn btn-success" %>
