<p id="notice"><%= notice %></p>

<h1>Stock Items</h1>

<table class="table tablehover">
  <thead class="thead-light">
    <tr>
      <th>Item Number</th>
      <th>Name</th>
      <th>Stocking Date</th>
      <th>Model</th>
      <th>Warrant Expiry Date</th>
      <th>Serial Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.itemno %></td>
        <td><%= item.name %></td>
        <td><%= item.stockingdate %></td>
        <td><%= item.model %></td>
        <td><%= item.warrantexpdate %></td>
        <td><%= item.serialno %></td>
        <td><%= link_to 'Show', item, class: "btn btn-warning" %></td>
        <td><%= link_to 'Edit', edit_item_path(item), class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path, class: "btn btn-success" %>
